.wrap {
  padding: 1.25rem;
}

.collapse {
  :global(.ant-collapse-header) {
    color: #cbd5e1 !important;
    padding: 0.5rem 0 !important;
  }

  :global(.ant-collapse-content-box) {
    padding: 0 0 0.75rem !important;
  }
}
